In [ ]:
import pandas as pd
import numpy as np  
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_excel('notas.xlsx')

In [ ]:
df.head()

   ID_ALUNO  HORAS_ESTUDO  NOTA
0         1            30     0
1         2            24     3
2         3            28     7
3         4             8     5
4         5            20     2

In [ ]:
modelo = LinearRegression()

x = df['HORAS_ESTUDO']
y = df['NOTA']

x_train, x_teste, y_train, y_teste = train_test_split(x,y, test_size=0.20, random_state=4)
x_train

17    14
29    26
19     5
0     30
3      8
16    25
10     8
6     30
12     6
2     28
4     20
22    27
13    22
7      5
9     28
18     9
24    29
27    20
8     13
1     24
5      2
23    17
14     7
26     4
Name: HORAS_ESTUDO, dtype: int64

In [ ]:
x_train = np.array(x_train).reshape((-1,1))
y_train = np.array(y_train).reshape((-1,1))
x_teste = np.array(x_teste).reshape((-1,1))
y_teste = np.array(y_teste).reshape((-1,1))
modelo.fit(x_train, y_train)
modelo.predict(x_teste)

array([[6.50096879],
       [5.07938449],
       [5.83756278],
       [4.9846122 ],
       [5.64801821],
       [6.4061965 ]])

In [ ]:
print(modelo.score(x_teste, y_teste))

-0.2920385842715181